<!DOCTYPE html>
<html lang="tr" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KargoTakip_Egitim_1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/main.min.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/KargoTakip_Egitim_1.styles.css" asp-append-version="true" />*@

    <script src="~/assets/js/head.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.all.min.js"></script>

    @await RenderSectionAsync("Head", required: false)
</head>
<body class="@ViewBag.BodyClass">
    @await RenderSectionAsync("BodyStart", required: false)

    @RenderBody()


    <script src="~/assets/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("BodyEnd", required: false)
</body>
</html>